body{
    margin-left: 30px;
    margin-right: 30px;
}

header h1{
    font-size: 35px;
    color: azure;

}

body{
    background-image: linear-gradient(to bottom right,rgb(63, 16, 72),rgb(0, 0, 0));
    padding-bottom: 900px;
    background-size: cover;  
    color:azure  
}
.function {
    margin-top: 80px;
    
    background-color: #f9f9f9;
    color: black;
    border: solid grey;
    height: fit-content;
    width: fit-content;
    padding: 30px;
    align-items: center;
    justify-content: center ;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-size: larger;

    
}

.date_cat,.date_cat select{
    border: 2px solid green;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 17px;
}



.info{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.function  label{
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 25px;

   
}
.function  input[type=number]{
    font-size: 18px;
    border: 2px  solid rgb(36, 238, 211);
    border-radius: 4px;
    width: 30vh;
    margin-top: 8px;

}
.function button{
    margin-top:25px;
}

.update,.add_cat {
    color: rgb(79, 201, 79);
    font-size: large;
    padding: 8px;
    border-color: rgb(36, 238, 211);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.update:hover,.add_cat:hover {
    color:rgb(36, 140, 238) ;
    border-color: rgb(79, 201, 79);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 60px 0 rgba(0,0,0,0.19);
}



#Category:hover{
    background-color: rgb(206, 248, 255);
}

#his_dis_btn{
    font-size: 26px;
    border-color: cadetblue;
    border-radius: 7px;
    color: rgb(255, 119, 8);
}

.history {
    color: black;
    border-collapse: collapse;
    border: solid gray;
    width: 100cap;    
    border-width: thin;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 18px;
}
.history th { 
    border: solid gray    
}
.history td{
    border: solid gray;
}

#his_dis{
    display: none;
    position: fixed;

    background-color: rgb(2, 2, 39);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(4px);
    font-size: 18px;
}

.status tr td h3{
    color: azure;
    padding-left: 25px;

}
#tot_inc{
    color: rgb(43, 163, 43);
}
#tot_exp{
    color: rgb(243, 6, 6);
}
